<div fxLayout="row" fxLayoutAlign="center center" class="card-area">
      <main>
        <mat-card>
          <form>
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Motivo" type="text" #motivo >
            </mat-form-field>
            <mat-form-field >
              <mat-select placeholder="Tipo"  #tipo>
                <mat-option *ngFor="let opt of tipoferiado" value="opt">{{opt}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Identificación" #id>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Información" #info>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Original" #original>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Opcional" #opcional>
            </mat-form-field>
            <button mat-flat-button color="warn" style="display: block; width: 100%;">
              Save
            </button>
          </form>
        </mat-card>
      </main>  
</div>