<div fxLayout="row" fxLayoutAlign="center center" class="card-area">
      <main>
        <mat-card>
          <form>
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput name="fecha" [(ngModel)]="feriadodate" [matDatepicker]="picker" disabled #fecha>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [startAt]="feriadodate" #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Motivo" type="text" name="motivo" [(ngModel)]="feriado.motivo" #motivo >
            </mat-form-field>
            <mat-form-field >
              <mat-select placeholder="Tipo" name="tipo" [(ngModel)]="feriado.tipo" #tipo>
                <mat-option *ngFor="let opt of tipoferiado" [value]="opt">{{opt}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Identificación" name="id" [(ngModel)]="feriado.id" #id>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Información" name="info" [(ngModel)]="feriado.info" #info>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Opcional" name="opcional" [(ngModel)]="feriado.opcional" #opcional>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Religión" name="religion" [(ngModel)]="feriado.religion" #religion>
            </mat-form-field>
            <button mat-flat-button color="warn" (click)="updateFeriado()" style="display: block; width: 100%;">
              Save
            </button>
          </form>
        </mat-card>
      </main>  
</div>